
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_profile.css') }}">
</head>
<body>

<div class="container">
    <h1>Trang Cá Nhân của {{ user.full_name }}</h1>
    
    <div class="user-info">
        <p><strong>Email:</strong> {{ user.gmail }}</p>
        <p><strong>Full Name:</strong> {{ user.full_name }}</p>
    </div>

    <h2>Thống kê:</h2>
    <ul>
        <li><strong>Số lượng bình luận Positive:</strong> {{ positive_count }}</li>
        <li><strong>Số lượng bình luận Neutral:</strong> {{ neutral_count }}</li>
        <li><strong>Số lượng bình luận Negative:</strong> {{ negative_count }}</li>
        <li><strong>Số lượng bài đăng tiêu cực:</strong> {{ negative_posts_count }}</li>
    </ul>
    <p style="color: red">*Cảnh báo: nếu số lượng comment của bạn lớn hơn 50 và hơn một nửa trong đó mang ý nghĩa tiêu cực hoặc bạn có trên 20 bài đăng được đánh giá tiêu cực thì tài khoản của bạn sẽ bị khóa vĩnh viễn</p>
    <a href="{{ url_for('home.home') }}">Trở về trang chủ</a>
</div>

</body>
</html>
